/* Importa a fonte Roboto Mono do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Configurações básicas padrão (Reset leve) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-border-box;
  font-family: "Roboto Mono", monospace;
}

/* Classe utilitária específica */
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* 400 é o tamanho normal, de 100 a 700 */
  font-style: normal;
}