/* Importa a fonte Roboto Mono do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Configurações básicas padrão (Reset leve) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Classe utilitária específica */
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Peso normal; altere entre 200 e 800 conforme necessário */
  font-style: normal;
}

.menu {
  display: flex;         /* Coloca os itens lado a lado */
  list-style: none;      /* Remove as bolinhas da lista */
  gap: 50px;             /* Define o espaço entre cada item */
  padding: 0;            /* Remove o espaçamento interno padrão */
  margin: 0;             /* Remove a margem padrão */
}